*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: #0a3d62;
    color: #fff;
}
.navbar .logo{
    font-size: 22px;
    font-weight: bold;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-links li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
.menu-btn{
    display: none;
    font-size: 26px;
    cursor: pointer;
}

/*hero-section*/
.hero{
    background: url("/marketsore/img/images\ \(40\).jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    color: #fff;
    text-align: center;
    padding-top: 120px;
}
.hero .btn{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #3ca0e3;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}
.hero .btn:hover{
    background: blue;
}
/*product*/
.products-section{
    padding: 40px 20px;
}
.section-title{
    text-align: center;
    margin-bottom: 25px;
    font-size: 28px;
    font-weight: bold;
}
.product-grid{
   display: grid; 
   grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
   gap: 20px;
}
.product-card{
    padding: 15px;
    background: #ffffffa2;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0,0,0,.1);
    text-align: center;
}
.product-card img{
    width: 100%;
    border-radius: 6px;
}
.product-card button{
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border: none;
    background: #0a3d62;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}
.product-card button:hover{
    background: #074d82;
}

/*responsive*/
@media(max-width: 768px) {
    .nav-links{
        position: absolute;
        top: 60px;
        right: -200px;
        background: #0a3d62;
        width: 180px;
        flex-direction: column;
        padding: 20px;
        transition: .3s;
    }
    .menu-btn{
        display: block;
    }
}